/* css normalize */
body {
  margin: 0;
}

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* The default font size of the browser is 16px, so if we want 1rem to be equal to 10px, we divide 10px by 16px = 62.5% */
  font-size: 62.5%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* style */
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(160, 28, 52) 30%,
    rgb(84, 30, 91) 70%
  );
  text-align: center;
}

.main-screen {
  display: flex;
  margin: 0 1rem;
  justify-content: center;
}
.player1,
.player2 {
  width: 38%;
  height: 100vh;
}
.player1 {
  background-color: var(--active-player-color);
}
.player2 {
  background-color: var(--inactive-player-color);
}
.player1 h2,
.player2 h2 {
  color: var(--score-color);
  font-size: 3rem;
}
.new-game,
.roll-dice,
.hold {
  height: 3vh;
  width: 10vw;
  position: absolute;

  /* border-radius: 30%; */
  /* background-color: var(--btn-color); */
}
.new-game button,
.roll-dice button,
.hold button {
  cursor: pointer;
}

.new-game {
  top: 2rem;
}
.roll-dice {
  top: 35rem;
}
.hold {
  top: 60rem;
}
.dice1,
.dice2 {
  background-color: white;
  width: 8vw;
  height: 8vh;
  position: absolute;
}
.dice1 {
  top: 9rem;
}
.dice2 {
  top: 21rem;
}
.dice1 img,
.dice2 img {
  width: 100%;
}

.current-player1,
.current-player2 {
  background-color: var(--score-color);
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 15vw;
  color: white;
  position: absolute;
  top: 45rem;
}
.current-player1 {
  left: 20rem;
}
.current-player2 {
  right: 20rem;
}

/*modal of game instructions and new game*/

/* The Modal (background) */
.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: left;
}
.modal-content li {
  list-style: disc;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
